table {
	border-collapse: collapse;
	border-spacing: 0;
	margin: 20px;
}
td,
th {
	border: 1px solid #000;
	padding: 4px;
	font-family: sans-serif;
	text-transform: uppercase;
	text-align: center;
}
caption {
	border: 1px solid #000;
	border-bottom: none;
	font-size: 21px;
	padding: 4px;
	font-weight: bold;
	font-family: sans-serif;
}
.red-text {
	color: #bb0000;
}
