.article {
	padding-top: 80px;
	padding-bottom: 120px;
}

.article-title {
	min-width: 596px;
	font-family: Oswald;
	font-weight: 600;
	line-height: 115%;
	text-transform: uppercase;
	color: #2c332f;
	margin-bottom: 40px;
}

.article-title-large {
	font-size: 48px;
}

.article-title-medium {
	font-size: 36px;
}

.article-text {
	margin-bottom: 20px;
	font-weight: 400;
	font-size: 16px;
	line-height: 130%;
	color: #535755;
}

.article-mb-1 {
	margin-bottom: 80px;
}

.article-mb-2 {
	margin-bottom: 40px;
}

.article-img {
	width: 100%;
}

.article-list {
	margin-top: 0;
	padding-left: 16px;
}

.article-item {
	margin-bottom: 12px;
}

.article-item::marker {
	color: #3596ed;
	font-size: 22px;
}

.article-decor-wrapper {
	position: relative;
}

.article-decor-wrapper::before {
	content: "";
	position: absolute;
	z-index: -1;
	background: url("../img/decor-icon.svg") no-repeat;
	width: 528px;
	height: 48px;
}
.article-decor-wrapper-1::before {
	top: 100px;
	left: -350px;
}

.article-decor-wrapper-2::after {
	bottom: 136px;
	right: -350px;
}

.article-play-button {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	align-items: center;
	justify-content: center;
	width: 60px;
	height: 60px;
	background-color: #3596ed;
	border-radius: 50%;
	padding: 0;
	border: none;
	cursor: pointer;
}
