body {
	background-color: #dadada;
}
form {
	background-color: #272727;
	color: #fff;
	font-family: Arial, Helvetica, sans-serif;
	border-radius: 15px;
	max-width: 400px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
}
fieldset {
	border: none;
}
legend {
	padding: 35px 15px 10px 15px;
	text-transform: uppercase;
	font-weight: 800;
	font-size: 25px;
}
label {
	display: block;
}
.form-grop {
	max-width: 300px;
	padding-right: 200px;
}
.name {
	margin-left: 15px;
}
input,
textarea {
	display: block;
	width: 300px;
	padding: 15px 15px;
	margin: 5px 15px 15px 15px;
	border-radius: 5px;
	border: 1px solid #000;
	background: #5f5f5f;
	color: #fff;
	font-size: 12px;
}
textarea {
	resize: vertical;
	display: block;
	max-height: 200px;
}
.checkbox {
	display: inline;
	width: 0px;
	margin-left: 30px;
}
button {
	cursor: pointer;
	margin: 5px 0px 35px 30px;
	padding: 13px 125px;
	border-radius: 5px;
	border: none;
	background-color: #000bdd;
	color: #fff;
	font-size: 16px;
	transition: background-color 0.3s ease;
}
button:hover {
	background-color: #00089d;
	color: #dadada;
}
